#jsb4c-clippy {
  background-color: transparent;
  background-repeat: no-repeat;
  width: 224px;
  height: 220px;
  position: fixed;
  right: -300px;
  bottom: 10px;
}
#jsb4c-yes, #jsb4c-no {
  font-size: 13px;
  font-family: "Arial", sans-serif;
  display: block;
  float: left;
  margin-top: 98px;
  padding-top: 3px;
  color: black;
  text-decoration: none;
  text-align: center;
}
#jsb4c-yes {
  margin-left: 10px;
  width: 90px;
}
#jsb4c-no {
  margin-left: 13px;
  width: 95px;
}